# (This is -*- perl -*- code.)
########################################################################
# Pokinom's configuration file.
#
# Copy this file to `pokinom.config' and adapt it to your needs.
########################################################################

# Possible mount points of the removable disks:
@usable_mount_points = (
    '/media/disk_1',
    '/media/disk_2',
    '/media/disk_3',
    );

# Directory relative to a mount point where new data resides.
# Must agree with Monikop's setting.
$path_under_mount_point =
    'measuring_data';

# Directories of this name will be deleted.
# Must agree with Monikop's setting.
$path_under_mount_point_backed_up =
    'backed_up'
    ;

# Directory name while being deleted by monikop.
# Must agree with Monikop's setting.
$path_under_mount_point_being_deleted =
    'being_deleted'
    ;

# Data Destination:
$destination =
    'big-server::incoming/NEW_DATA'
    ;

# Credentials of the rsync server on Destination. String, or 0 if not used:
$rsync_username =
    'm-operator'
    ;
$rsync_password =
    'sEcReT'
    ;

# Path and file name prefix to rsync's raw log:
$rsync_log_prefix =
    '~/log/pokinom/log.'
    ;

# Path and file name prefix to a file where a list of rsync's incompletely
# transferred files is kept:
$interrupted_prefix =
    '~/log/pokinom/interrupted.'
    ;

# Shut down when finished? (Default, can be toggled by user by pressing F9.)
# 1 = yes; 2 = stay on.
$shut_down_when_done =
    0
    ;

# What to do (shutdown) when F3 has been pressed:
$shut_down_action =
    "sudo halt -p"
    ;

# Rsync's directory (relative to mount point of removable disk) for partially
# transferred files.
# Must agree with Monikop's setting. Make sure your payload data does not
# contain an equally-named directory.
$rsync_partial_dir_name =
    '.rsync_partial'
    ;
