# -*- perl -*-
########################################
# Settings
########################################
# Possible mount points. Must be unique in their tails after rightmost /.
@usable_mount_points = (
    '/media/platte_01',
    '/media/platte_02',
    '/media/platte_03',
    '/media/platte_04',
    '/media/platte_05',
    '/media/platte_06',
    '/media/platte_07',
    '/media/platte_08',
    '/media/platte_09',
    '/media/platte_10',
    '/media/platte_11',
    '/media/platte_12',
    );

# Directory relative to a mount point where new data resides.
# Must agree with Monikop's setting.
$path_under_mount_point =
    'measuring_data';

# Directories of this name will be deleted.
# Must agree with Monikop's setting.
$path_under_mount_point_backed_up =
    'backed_up'
    ;

# Directory name while being deleted by monikop.
# Must agree with Monikop's setting.
$path_under_mount_point_being_deleted =
    'being_deleted'
    ;

# Data sink.
$destination =
    'file::media/NEW_DATA';

# Credentials of the remote rsync server. String, or 0 if not used.
$rsync_username =
    'messung'
    ;
$rsync_password =
    'MEssung'
    ;

# Full path to rsync's raw log
$rsync_log_prefix =
    '/home/messung/monikop/log.'
    ;

# Full path to a file to store list of rsync's incompletely transferred files in:
$interrupted_prefix =
    '/home/messung/monikop/interrupted.'
    ;

# Shut down when finished? (default); 1 = yes; 2 = stay on.
$shut_down_when_done =
    0
    ;

# How to turn off
$shut_down_action =
    "sudo halt -p"
    ;

# Rsync's directory (relative to destination) for partially transferred files.
# Must agree with Monikop's setting.
$rsync_partial_dir_name =
    '.rsync_partial'
    ;
